@charset "UTF-8";

#wrap {
	width:100%;
	background-color:#eeeeee;
	text-align:center;
	position:relative;
}

ul {
	margin-top:0;
	padding:0;
	list-style:none;
}

#mainMenuBox {
	margin:0;
	width:100%;
	background-color:#dcf6dc;  /* white*/
	z-index:10;  /* 스크롤 시 위 오도록 */
}

#mainMenuBox ul{ margin:0; height:60px; }

#menuItem li {
	float:right;
	text-align:center;
	width:130px;
	height:60px;
	line-height:60px;
	font-size: 23px;
}

#menuItem li:first-child {float:left;}

#menuItem li a {
	color:black;
	text-decoration:none;
}

#menuItem li a:hover {
	color:#bb5252;
}